
@font-face {
    font-family: Roboto-black;
    src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
	font-family: Roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
	font-family: Oswald-light;
    src: url(../fonts/Oswald-Light.ttf);
}